.gallery-animals {

    padding-block: $space-32;

}

.animal-pres-container {
    border: 3px solid $border-light;

    padding: $space-32;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
        margin-block: $space-4;
        padding: $space-8;
        text-align: justify;
        font-weight: 500;
        line-height: 24px
    }


    &:nth-child(1) {
        border-radius: 150px 150px 0 0;
        background-color: $bg-sticker-dark;

    }

    &:nth-child(2) {
        border-radius: 0 0 150px 150px;
        color: $black;
        background-color: $bg-sticker-light;

        h3 {
            order: 1
        }

        img {
            order: 2;
        }

        p {
            order: 3;
        }
    }
}

.gallery-animals-container {
    display: flex;
    flex-wrap: wrap;
    gap: $space-16;
    justify-content: space-evenly;

    .cards {
        perspective: 1000px;
        width: 100%;
        aspect-ratio: 2/3;
        max-width: 300px;
    }

    .inner-card {
        @include flip-card-inner;
        transition: transform 1s;

    }

    .rotate-cards .inner-card {
        transform: rotateY(180deg);
    }

    .back,
    .front {
        @include flip-card-back-front;
        border-radius: 10px;
        box-shadow: $box-shadow-75;

    }

    .front {
        //position: relative;
        background-image: $gradient-radial-to-sec;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        img {
            width: 50%;
            transform: rotateZ(30deg);

        }

        p {
            @include bree-bold($h6);
            color: $black-5;
            text-align: center;

        }

        p:nth-of-type(2) {
            transform: rotateY(180deg);
        }

    }

    .back {
        @include flip-card-back;
        display: flex;
        flex-direction: column;
        border: 2px solid $secondary;
        background-color: $black-10;
        justify-content: space-between;
    }

    .image-container {
        margin: auto;
        width: 90%;
        outline: 4px solid $secondary;
        box-shadow: $box-shadow-50;

        .animal-img {
            width: 100%;
            aspect-ratio: 4/3;

        }

        ul {
            margin-inline: $space-4 ;
            display: flex;
            justify-content: space-between;
        }
    }

    .icon {
        width: 2em;
        aspect-ratio: 1;

    }

    .cards:nth-child(2) .animal-img {
        object-position: 0 80%;
    }

    .header-card {
        display: grid;
        align-items: center;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 20px 20px;
        padding: $space-4;

        p {
            padding-inline: $space-4;
            left: 15%;
            top: 5%;
            position: relative;

            &::after {
                position: absolute;
                content: "";
                outline: 1px solid $secondary;
                box-shadow: $box-shadow-50;
                border-radius: 2px;
                width: 100%;
                height: 100%;
                transform: translate(-50%, -50%) skewX(-35deg);
                bottom: -50%;
                left: 50%;
            }
        }

        p,
        h5 {
            text-align: center;
        }

        img,
        h5 {
            grid-row: 2;
        }

        h5 {
            grid-column: 2;
        }

        img {
            margin: 0 auto;
            grid-column: 6;
        }
    }

    .content {
        margin: $space-4;

        div {
            position: relative;

            &::after {
                width: 90%;
                height: 2px;
                background-color: $black-75;
                position: absolute;
                content: "";
                transform: translate(-50%, -50%);
                left: 50%;
                bottom: -10%;
            }
        }

    }

    .footer-card {
        margin: $space-4;
        display: grid;
        row-gap: $space-4;

        .weakness,
        .icon {
            grid-row: 1;
        }

        .icon {
            width: 1.5em;
            grid-column: 2;
            justify-self: end;
        }

        .abstract {
            grid-column: 1/3;
            position: relative;
            padding-inline: $space-4;
            margin: $space-4;
            align-self: end;

            &::after {
                position: absolute;
                content: "";
                outline: 1px solid $secondary;
                box-shadow: $box-shadow-50;
                border-radius: 2px;
                width: 100%;
                height: 100%;
                transform: translate(-50%, -50%) skewX(-5deg);
                bottom: -50%;
                left: 50%;
            }
        }
    }
}


.circle-svg {

    position: absolute;
    transform: translate(-50%, -50%);
    left: 0%;
    top: 20%;
}

.rotate {
    animation: rotateCirlce 8s linear infinite;
}

.no-rotate {
    opacity: 0;
}

.text-path {
    font-size: $parag-mob;
    fill: $black-5;
    font-family: "bree", sans-serif;
}




@keyframes rotateCirlce {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(-360deg);
    }
}