.hamburger-menu{
    display: flex;
    flex-direction: column;
    gap: 5px;
    div {
        width: 100%;
        height: 6px;
        border-radius: 20px;
        background-color: $black-25;
    }
    &#close{
        div {
            background-color: red;
        }
    }
    &#open{
        div {
        }
    }
    

}
