/* COLORS */
/*FONT SIZE */
/* type scaling : base font-size: 16px ; ratio :1.33 */
/* type scaling : base font-size: 16px ; ratio :1.125 */
/* BOX SCALING*/
/* 8-points system */
/* WHITE SPACES*/
/*TEST COLORS*/
@import url("https://fonts.googleapis.com/css2?family=Lemon&family=Nova+Square&display=swap");
@import url("https://use.typekit.net/kzq0jph.css");
.block-color {
  padding: 32px;
}

@keyframes turn-bg {
  0% {
    background-image: conic-gradient(from 0deg at 50% 50%, #117695, #198060, #008770, #008d81, #009391, #0098a1, #009eb0, #10a3bd, #117695);
  }
  10% {
    background-image: conic-gradient(from 36deg at 50% 50%, #117695, #198060, #008770, #008d81, #009391, #0098a1, #009eb0, #10a3bd, #117695);
  }
  20% {
    background-image: conic-gradient(from 72deg at 50% 50%, #117695, #198060, #008770, #008d81, #009391, #0098a1, #009eb0, #10a3bd, #117695);
  }
  30% {
    background-image: conic-gradient(from 108deg at 50% 50%, #117695, #198060, #008770, #008d81, #009391, #0098a1, #009eb0, #10a3bd, #117695);
  }
  40% {
    background-image: conic-gradient(from 144deg at 50% 50%, #117695, #198060, #008770, #008d81, #009391, #0098a1, #009eb0, #10a3bd, #117695);
  }
  50% {
    background-image: conic-gradient(from 180deg at 50% 50%, #117695, #198060, #008770, #008d81, #009391, #0098a1, #009eb0, #10a3bd, #117695);
  }
  60% {
    background-image: conic-gradient(from 252deg at 50% 50%, #117695, #198060, #008770, #008d81, #009391, #0098a1, #009eb0, #10a3bd, #117695);
  }
  70% {
    background-image: conic-gradient(from 288deg at 50% 50%, #117695, #198060, #008770, #008d81, #009391, #0098a1, #009eb0, #10a3bd, #117695);
  }
  80% {
    background-image: conic-gradient(from 324deg at 50% 50%, #117695, #198060, #008770, #008d81, #009391, #0098a1, #009eb0, #10a3bd, #117695);
  }
  90% {
    background-image: conic-gradient(from 360deg at 50% 50%, #117695, #198060, #008770, #008d81, #009391, #0098a1, #009eb0, #10a3bd, #117695);
  }
  100% {
    background-image: conic-gradient(from 0deg at 50% 50%, #117695, #198060, #008770, #008d81, #009391, #0098a1, #009eb0, #10a3bd, #117695);
  }
}
#_1 {
  background-image: conic-gradient(from 0deg at 50% 50%, #117695, #198060, #008770, #008d81, #009391, #0098a1, #009eb0, #10a3bd, #117695);
  width: 100px;
  height: 100px;
  animation: turn-bg 1s linear infinite;
}

#_2 {
  background-color: #198060;
}

#_3 {
  background-color: #CC3737;
}

#_4 {
  background-color: #184F60;
}

#_5 {
  background-color: #F2EBE5;
}

#_6 {
  background-color: #736564;
}

#_7 {
  background-color: #E7D2BF;
}

.App {
  font-family: "cairo", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bree", sans-serif;
  text-align: center;
}

h1 {
  font-size: 1.75em;
  letter-spacing: 3%;
  line-height: 8px;
}

h2 {
  font-size: 1.56em;
}

h3 {
  font-size: 1.37em;
  font-weight: 700;
}

h4 {
  font-size: 1.25em;
  padding-block: 16px;
}

h5 {
  font-size: 1.06em;
  font-weight: 200;
}

h6 {
  font-size: 1em;
}

p {
  font-size: 1em;
}
p.strong {
  font-weight: 600;
}

@media screen and (min-width: 1320px) {
  h1 {
    font-size: 4.18em;
    letter-spacing: 3%;
    line-height: 8px;
  }
  h2 {
    font-size: 3.12em;
  }
  h3 {
    font-size: 2.37em;
    font-weight: 700;
  }
  h4 {
    font-size: 1.75em;
    padding-block: 16px;
  }
  h5 {
    font-size: 1.31em;
    font-weight: 200;
  }
  h6 {
    font-size: 1em;
  }
}
.home {
  background-image: linear-gradient(to bottom, #0E333F 0%, #F2EBE5 100%);
}
.home .text-card {
  color: #ffffff;
  position: relative;
}
.home .article-container p:nth-child(2),
.home .article-container p:nth-child(3),
.home .article-container ul,
.home .article-container .strong {
  display: none;
}
.home .button-plus {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background-color: #117695;
  margin: 8px;
  position: absolute;
  bottom: -35px;
  right: -35px;
  transform: translate(-50%, -50%);
}
.home .button-plus .line-plus {
  position: absolute;
  width: 1em;
  height: 4px;
  background-color: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.home .button-plus .line-plus:last-child {
  transform: translate(-50%, -50%) rotateZ(90deg);
}
.home .button-plus:hover .line-plus {
  left: 45%;
  scale: 0.9;
}
.home .button-container {
  margin-top: 64px;
  position: relative;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
}

.btn {
  width: 6.6666666667em;
  padding-inline: 16px;
  padding-block: 8px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #F2EBE5;
}

.App {
  font-family: "Cairo", sans-serif;
  color: #272B2D;
}

.page {
  padding-inline: 32px;
  margin-bottom: 64px;
}

a {
  text-decoration: none;
  color: #272B2D;
}

ul {
  list-style-type: none;
}

h3 {
  margin-block: 32px;
}

.article-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.article-container li img {
  width: 30px;
  padding: 4px;
  transform: translate(40%, 25%) rotateZ(45deg);
  opacity: 0.4;
  z-index: -1;
}

.btn {
  margin-inline: 64px;
  padding-inline: 16px;
  padding-block: 8px;
  font-size: 1.31em;
  font-family: "Bree", sans-serif;
  font-weight: 700;
  border-radius: 16px;
  border: none;
  box-shadow: 4px 4px 4px 2px #a3acb0;
}

.primary-btn {
  background-color: #117695;
  color: #ffffff;
}

.secondary-btn {
  background-color: #ffffff;
  color: #117695;
}

.cancel-btn {
  background-color: #CC3737;
  color: #ffffff;
}

img {
  object-fit: cover;
}

.strips-container {
  position: relative;
  width: fit-content;
  height: fit-content;
  opacity: 0.3;
  transform: rotateZ(-20deg);
  z-index: 0;
  isolation: isolate;
}

.strip-container {
  scale: 0.8;
  width: 8.8em;
  padding: 8px;
  padding-bottom: 32px;
  box-shadow: 0 4px 4px 2px #626c71;
  background-color: #ffffff;
  position: absolute;
}
.strip-container:first-child {
  transform: rotateZ(-12deg);
}
.strip-container:nth-child(2) {
  transform: rotateZ(-4deg);
}
.strip-container:last-child {
  transform: rotateZ(4deg);
}

.strip-image {
  padding-top: 8px;
}
.strip-image img {
  width: 100%;
  height: 8.8em;
}

.gallery-tab-container .image-grid .image-card {
  width: fit-content;
}
.gallery-tab-container .image-grid img {
  width: 100%;
}

.animal-pres-container img {
  width: 215px;
  aspect-ratio: 4/3;
  border-radius: 5%;
}

.header {
  background-color: #0E333F;
  padding: 16px;
  color: #ffffff;
}
.header .brand-identity-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.banner .baseline {
  font-family: "cairo", sans-serif;
  font-weight: 200;
  font-size: 1em;
  font-style: normal;
  letter-spacing: 2px;
  text-align: center;
}
.banner .brand-name {
  padding-inline: 16px;
  margin-bottom: 12.8px;
  font-size: 1.25em;
  text-align: center;
  line-height: 25px;
  font-style: italic;
  letter-spacing: 1px;
}

.logo-container {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo-container .logo {
  width: 80px;
  height: auto;
  filter: brightness(177%);
}
.logo-container .brand-name {
  display: none;
}

.hamburger-menu {
  width: 3.0769230769em;
}

.line.gradient {
  display: none;
}

.navbar {
  display: none;
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.hamburger-menu div {
  width: 100%;
  height: 6px;
  border-radius: 20px;
  background-color: #e8eaeb;
}
.hamburger-menu#close div {
  background-color: red;
}
.gallery-activity {
  background-color: #F2EBE5;
  color: #272B2D;
}
.gallery-activity .image-grid {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 80%;
  gap: 8px;
}
.gallery-activity .image-grid .image-container {
  display: grid;
  grid-template-rows: min-content;
  gap: 8px;
  padding: 16px;
  margin-bottom: 8px;
  background-color: #184F60;
  color: #ffffff;
  border-radius: 8px;
}
.gallery-activity .horizontal-scroll {
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  scrollbar-color: #184F60 #F2EBE5;
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
  scroll-snap-type: inline mandatory;
}
.gallery-activity .horizontal-scroll > * {
  scroll-snap-align: start;
}
.gallery-activity .horizontal-scroll > *:last-child {
  scroll-snap-align: end;
}
.gallery-activity .picture-legend {
  display: none;
}
.gallery-activity .tab {
  display: none;
}

.infos {
  padding-inline: 0;
}
.infos .intro-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 32px;
}
.infos .button-container {
  display: flex;
  justify-content: center;
}

.drop-down-article-container h4 {
  font-size: 1.06em;
  text-align: start;
  position: relative;
  border: 1px solid #117695;
  border-radius: 16px;
  padding-left: 4px;
  background-color: #ffffff;
}
.drop-down-article-container h4:after {
  cursor: pointer;
  content: "";
  position: absolute;
  width: 1rem;
  aspect-ratio: 1;
  border-top: 4px solid #117695;
  border-left: 4px solid #117695;
  left: 85%;
  transform: translate(50%) rotateZ(225deg);
  transition: transform ease 1s;
}

h4.active:after {
  transform: translate(50%) rotateZ(45deg);
}

.drop-down-article-content {
  overflow: hidden;
}

.image-center-layout-container {
  padding-inline: 8px;
  padding-block: 16px;
  margin: 8px;
  display: grid;
}
.image-center-layout-container .intro {
  grid-row: 1;
  grid-column: 1/6;
  border: 3px solid #198060;
  border-radius: 25px;
  background-color: #ffffff;
  padding: 8px;
}
.image-center-layout-container h5 {
  text-align: justify;
}
.image-center-layout-container .parent {
  padding-bottom: 16px;
  grid-row: 2;
  grid-column: 1/5;
}
.image-center-layout-container .children {
  margin: 16px;
}
.image-center-layout-container img {
  grid-row: 2;
  grid-column: 4/6;
  align-self: self-end;
  justify-self: end;
  width: 100%;
  aspect-ratio: 1;
  object-fit: contain;
}

.falling-bubble-layout-container {
  position: relative;
  width: 100%;
  aspect-ratio: 1;
}
.falling-bubble-layout-container .bubbles {
  position: absolute;
  background-image: radial-gradient(#198060 0%, #117695 100%);
  width: 120px;
  aspect-ratio: 1;
  border-radius: 50%;
  scale: 0.8;
  left: 15%;
  top: 15%;
}
.falling-bubble-layout-container .bubbles:nth-child(even) {
  background-image: radial-gradient(#DE86C0 0%, #D66662 100%);
}
.falling-bubble-layout-container .bubbles:nth-child(1) {
  transform: translate(calc(cos(calc(1* (360deg / 8))) * 8.8em), calc(sin(calc(1* (360deg / 8))) * 8.8em));
}
.falling-bubble-layout-container .bubbles:nth-child(2) {
  transform: translate(calc(cos(calc(2* (360deg / 8))) * 8.8em), calc(sin(calc(2* (360deg / 8))) * 8.8em));
}
.falling-bubble-layout-container .bubbles:nth-child(3) {
  transform: translate(calc(cos(calc(3* (360deg / 8))) * 8.8em), calc(sin(calc(3* (360deg / 8))) * 8.8em));
}
.falling-bubble-layout-container .bubbles:nth-child(4) {
  transform: translate(calc(cos(calc(4* (360deg / 8))) * 8.8em), calc(sin(calc(4* (360deg / 8))) * 8.8em));
}
.falling-bubble-layout-container .bubbles:nth-child(5) {
  transform: translate(calc(cos(calc(5* (360deg / 8))) * 8.8em), calc(sin(calc(5* (360deg / 8))) * 8.8em));
}
.falling-bubble-layout-container .bubbles:nth-child(6) {
  transform: translate(calc(cos(calc(6* (360deg / 8))) * 8.8em), calc(sin(calc(6* (360deg / 8))) * 8.8em));
}
.falling-bubble-layout-container .bubbles:nth-child(7) {
  transform: translate(calc(cos(calc(7* (360deg / 8))) * 8.8em), calc(sin(calc(7* (360deg / 8))) * 8.8em));
}
.falling-bubble-layout-container .bubbles:nth-child(8) {
  transform: translate(calc(cos(calc(8* (360deg / 8))) * 8.8em), calc(sin(calc(8* (360deg / 8))) * 8.8em));
}
.falling-bubble-layout-container .bubbles p {
  width: 100%;
  color: #ffffff;
  font-size: 1em;
  font-weight: bold;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-grid-layout-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 8px;
  margin-inline: 8px;
  margin-block: 16px;
}
.card-grid-layout-container .cards {
  max-width: 200px;
  width: 100%;
  aspect-ratio: 1;
  perspective: 1000px;
}
.card-grid-layout-container .front img {
  width: 50%;
  aspect-ratio: 1;
  object-fit: contain;
}
.card-grid-layout-container .front,
.card-grid-layout-container .back {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  padding: 4px;
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.card-grid-layout-container .front {
  background-color: #ffffff;
}
.card-grid-layout-container .back {
  color: #ffffff;
  background-color: #184F60;
  transform: rotateY(180deg);
}
.card-grid-layout-container .inner-card {
  position: relative;
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
  text-align: center;
}
.card-grid-layout-container .rotate-cards:nth-of-type(1) .inner-card {
  transition: transform 1s calc(0.2s*1);
}
.card-grid-layout-container .rotate-cards:nth-of-type(2) .inner-card {
  transition: transform 1s calc(0.2s*2);
}
.card-grid-layout-container .rotate-cards:nth-of-type(3) .inner-card {
  transition: transform 1s calc(0.2s*3);
}
.card-grid-layout-container .rotate-cards:nth-of-type(4) .inner-card {
  transition: transform 1s calc(0.2s*4);
}
.card-grid-layout-container .rotate-cards:nth-of-type(5) .inner-card {
  transition: transform 1s calc(0.2s*5);
}
.card-grid-layout-container .rotate-cards:nth-of-type(6) .inner-card {
  transition: transform 1s calc(0.2s*6);
}
.card-grid-layout-container .rotate-cards:nth-of-type(7) .inner-card {
  transition: transform 1s calc(0.2s*7);
}
.card-grid-layout-container .rotate-cards:nth-of-type(8) .inner-card {
  transition: transform 1s calc(0.2s*8);
}
.card-grid-layout-container .rotate-cards:nth-of-type(9) .inner-card {
  transition: transform 1s calc(0.2s*9);
}
.card-grid-layout-container p {
  text-align: center;
}
.card-grid-layout-container .rotate-cards .inner-card {
  transform: rotateY(180deg);
}

.simple-grid-layout-container {
  position: relative;
  isolation: isolate;
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  margin-bottom: 32px;
}
@media screen and (min-width: 1100px) {
  .simple-grid-layout-container {
    grid-template-columns: repeat(5, auto);
  }
}

.simple-grid-col {
  padding: 16px;
}
.simple-grid-col:nth-child(1) {
  grid-column: 1/3;
  color: #ffffff;
}
.simple-grid-col h6 {
  text-align: justify;
  font-family: "cairo", sans-serif;
  font-style: italic;
  margin: 4px;
  padding-block: 8px;
}
.simple-grid-col h5 {
  margin: 8px;
  text-transform: uppercase;
  font-family: "Bree", sans-serif;
  padding-block: 8px;
}
.simple-grid-col:nth-child(2) {
  grid-column: 2/4;
  grid-row: 2;
}
@media screen and (min-width: 710px) {
  .simple-grid-col {
    padding: 32px;
  }
}
@media screen and (min-width: 1100px) {
  .simple-grid-col {
    font-size: 1.2em;
    padding: 64px;
  }
  .simple-grid-col:nth-child(1) {
    grid-column: 1/2;
  }
  .simple-grid-col:nth-child(2) {
    grid-column: 5/6;
  }
}
@media screen and (min-width: 1900px) {
  .simple-grid-col {
    font-size: 1.2em;
    padding: 83.2px;
  }
}

.simple-grid-layout-container::after {
  content: "";
  position: absolute;
  inset: 0;
  -webkit-mask: url("../../src/Assets/images/curve-bg.svg");
  mask-repeat: repeat;
  mask-position-x: 0%;
  mask-position-y: 0%;
  mask-size: auto;
  mask: url("../../src/Assets/images/curve-bg.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;
  -webkit-mask-position: 100% 30%;
  mask-position: 0% 30%;
  background: #184F60;
  z-index: -1;
}
@media screen and (min-width: 505px) {
  .simple-grid-layout-container::after {
    mask-position: 0%, 50%;
  }
}
@media screen and (min-width: 710px) {
  .simple-grid-layout-container::after {
    mask-position: 50%, 50%;
  }
}
@media screen and (min-width: 1100px) {
  .simple-grid-layout-container::after {
    width: 180%;
    mask-position: 0%;
    mask-size: 60%;
  }
}

.gallery-animals {
  padding-block: 32px;
}

.animal-pres-container {
  border: 3px solid #ebe7e7;
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.animal-pres-container p {
  margin-block: 4px;
  padding: 8px;
  text-align: justify;
  font-weight: 500;
  line-height: 24px;
}
.animal-pres-container:nth-child(1) {
  border-radius: 150px 150px 0 0;
  background-color: #736564;
}
.animal-pres-container:nth-child(2) {
  border-radius: 0 0 150px 150px;
  color: #272B2D;
  background-color: #E7D2BF;
}
.animal-pres-container:nth-child(2) h3 {
  order: 1;
}
.animal-pres-container:nth-child(2) img {
  order: 2;
}
.animal-pres-container:nth-child(2) p {
  order: 3;
}

.gallery-animals-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: space-evenly;
}
.gallery-animals-container .cards {
  perspective: 1000px;
  width: 100%;
  aspect-ratio: 2/3;
  max-width: 300px;
}
.gallery-animals-container .inner-card {
  position: relative;
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
  transition: transform 1s;
}
.gallery-animals-container .rotate-cards .inner-card {
  transform: rotateY(180deg);
}
.gallery-animals-container .back,
.gallery-animals-container .front {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 4px 2px #626c71;
}
.gallery-animals-container .front {
  background-image: radial-gradient(#117695 0%, #198060 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.gallery-animals-container .front img {
  width: 50%;
  transform: rotateZ(30deg);
}
.gallery-animals-container .front p {
  font-weight: 600;
  font-family: "Bree", sans-serif;
  font-size: 1em;
  color: #ffffff;
  text-align: center;
}
.gallery-animals-container .front p:nth-of-type(2) {
  transform: rotateY(180deg);
}
.gallery-animals-container .back {
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  border: 2px solid #198060;
  background-color: #f5f6f7;
  justify-content: space-between;
}
.gallery-animals-container .image-container {
  margin: auto;
  width: 90%;
  outline: 4px solid #198060;
  box-shadow: 4px 4px 4px 2px #a3acb0;
}
.gallery-animals-container .image-container .animal-img {
  width: 100%;
  aspect-ratio: 4/3;
}
.gallery-animals-container .image-container ul {
  margin-inline: 4px;
  display: flex;
  justify-content: space-between;
}
.gallery-animals-container .icon {
  width: 2em;
  aspect-ratio: 1;
}
.gallery-animals-container .cards:nth-child(2) .animal-img {
  object-position: 0 80%;
}
.gallery-animals-container .header-card {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 20px 20px;
  padding: 4px;
}
.gallery-animals-container .header-card p {
  padding-inline: 4px;
  left: 15%;
  top: 5%;
  position: relative;
}
.gallery-animals-container .header-card p::after {
  position: absolute;
  content: "";
  outline: 1px solid #198060;
  box-shadow: 4px 4px 4px 2px #a3acb0;
  border-radius: 2px;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%) skewX(-35deg);
  bottom: -50%;
  left: 50%;
}
.gallery-animals-container .header-card p,
.gallery-animals-container .header-card h5 {
  text-align: center;
}
.gallery-animals-container .header-card img,
.gallery-animals-container .header-card h5 {
  grid-row: 2;
}
.gallery-animals-container .header-card h5 {
  grid-column: 2;
}
.gallery-animals-container .header-card img {
  margin: 0 auto;
  grid-column: 6;
}
.gallery-animals-container .content {
  margin: 4px;
}
.gallery-animals-container .content div {
  position: relative;
}
.gallery-animals-container .content div::after {
  width: 90%;
  height: 2px;
  background-color: #626c71;
  position: absolute;
  content: "";
  transform: translate(-50%, -50%);
  left: 50%;
  bottom: -10%;
}
.gallery-animals-container .footer-card {
  margin: 4px;
  display: grid;
  row-gap: 4px;
}
.gallery-animals-container .footer-card .weakness,
.gallery-animals-container .footer-card .icon {
  grid-row: 1;
}
.gallery-animals-container .footer-card .icon {
  width: 1.5em;
  grid-column: 2;
  justify-self: end;
}
.gallery-animals-container .footer-card .abstract {
  grid-column: 1/3;
  position: relative;
  padding-inline: 4px;
  margin: 4px;
  align-self: end;
}
.gallery-animals-container .footer-card .abstract::after {
  position: absolute;
  content: "";
  outline: 1px solid #198060;
  box-shadow: 4px 4px 4px 2px #a3acb0;
  border-radius: 2px;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%) skewX(-5deg);
  bottom: -50%;
  left: 50%;
}

.circle-svg {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 0%;
  top: 20%;
}

.rotate {
  animation: rotateCirlce 8s linear infinite;
}

.no-rotate {
  opacity: 0;
}

.text-path {
  font-size: 1em;
  fill: #ffffff;
  font-family: "bree", sans-serif;
}

@keyframes rotateCirlce {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-360deg);
  }
}
.form-container form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.form-container .btn-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 12.8px;
  gap: 12.8px;
}
.form-container .btn-container .btn {
  margin: 0;
  font-size: 1.25em;
}
.form-container label {
  font-weight: 600;
  font-family: "Bree", sans-serif;
  font-size: 1.25em;
}
.form-container textarea, .form-container input, .form-container select {
  border: none;
  background-color: #ffffff;
  border-radius: 8px;
  font-family: "cairo", sans-serif;
  padding: 8px;
  font-size: 1em;
}
.form-container input, .form-container select {
  min-height: 3.0769230769em;
}

.sticker-container {
  border-radius: 20px;
  background-color: #736564;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 32px;
  flex: 1;
  box-shadow: 6px 6px 6px 2px #a59998;
}
.sticker-container span {
  font-size: 1.31em;
  font-family: "bree", sans-serif;
}
.sticker-container h4 {
  font-size: 1.56em;
}
.sticker-container .btn-container {
  position: relative;
  isolation: isolate;
  padding-top: 16px;
  padding-bottom: 64px;
}
.sticker-container .secondary-btn {
  padding-inline: 64px;
  width: fit-content;
  margin: auto;
}
.sticker-container .icon {
  position: absolute;
  aspect-ratio: 1;
  object-fit: contain;
}
.sticker-container .icon:first-of-type {
  width: 5em;
  left: -30%;
  transform: rotateZ(-35deg);
}
.sticker-container .icon:last-of-type {
  width: 4em;
  left: 95%;
  top: 20%;
  z-index: -1;
  transform: rotateZ(30deg);
}
.sticker-container p {
  margin: 16px;
  font-size: 1em;
}

.footer {
  color: #ffffff;
  background-color: #736564;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  gap: 8px;
}
.footer a {
  color: #ffffff;
}
.footer .contact-infos a {
  color: #afe5f6;
}
.footer .logo-container {
  margin: 12.8px auto;
}
.footer .brand {
  margin-block: 32px;
  text-align: center;
}
.footer .brand-name {
  margin-block: 12.8px;
}
.footer .sticker-container {
  background-color: #F2EBE5;
  color: #272B2D;
}
.footer .site-map ul {
  margin: 16px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  text-transform: uppercase;
  font-weight: 800;
}
.footer .site-map ul li {
  position: relative;
  padding-inline: 4px;
}
.footer .site-map ul li::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 80%;
  transform: translate(-50%);
  left: 110%;
  background-color: #E7D2BF;
}
.footer .bottom {
  margin: 16px;
  text-align: center;
  display: flex;
  gap: 12.8px;
  flex-direction: column;
}
.footer .bottom a {
  color: #afe5f6;
  text-transform: uppercase;
  font-weight: 800;
}
.footer .bottom ul:nth-child(2) {
  margin: 12.8px;
  color: #afe5f6;
  font-weight: 800;
  display: flex;
  justify-content: space-evenly;
}

@media screen and (min-width: 1300px) {
  .App {
    font-size: 1.1em;
  }
  .page {
    height: 100vh;
  }
  .header {
    background-color: transparent;
    color: #272B2D;
  }
  .header .brand-identity-container {
    justify-content: space-evenly;
    gap: 64px;
  }
  .banner .baseline {
    font-size: 3.12em;
  }
  .banner .brand-name {
    display: none;
  }
  .logo-container .logo {
    width: 150px;
    filter: none;
  }
  .logo-container .brand-name {
    display: block;
    font-family: "Bree", sans-serif;
    font-size: 1em;
    font-style: italic;
    font-weight: 800;
    text-align: center;
  }
  .line.gradient {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    height: 2px;
    background: linear-gradient(to right, #198060 0%, #32a7ca 100%);
  }
  .hamburger-menu {
    display: none;
  }
  .navbar {
    display: block;
    position: relative;
  }
  .navbar ul {
    position: absolute;
    width: 50%;
    top: 0px;
    right: 32px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    font-family: "cairo", sans-serif;
    font-weight: 700;
    font-size: 1.77em;
    font-style: italic;
  }
  .home {
    margin-top: 32px;
    background-image: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 16px;
    padding-block: 64px;
  }
  .home aside {
    transform: rotateZ(-15deg);
    grid-row: 1/4;
    margin-left: -64px;
  }
  .home article {
    border-radius: 10px;
    background-image: linear-gradient(to right, #198060 0%, #117695 100%);
    grid-column: 2/4;
  }
  .home .text-card {
    color: #272B2D;
    border-radius: 8px;
    background-color: #fff;
    padding-inline: 16px;
    margin: 4px;
  }
  .home .article-container p,
  .home .article-container ul,
  .home .article-container .strong {
    display: block;
  }
  .home .strong {
    text-align: center;
    margin-bottom: 16px;
  }
  .home .button-container {
    grid-column: 2/4;
    grid-row: 3;
  }
  .home .button-plus {
    scale: 2;
    bottom: -20px;
    right: -20px;
  }
  .strips-container {
    opacity: 1;
    transform: rotateZ(0deg);
  }
  .strip-container {
    scale: 1.1;
  }
  .gallery-activity {
    background-color: #184F60;
    color: #ffffff;
    padding: 16px;
  }
  .gallery-activity .gallery-tab-container {
    margin-block: 16px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .gallery-activity .image-container {
    display: flex !important;
    transition: all 1s ease;
    flex: 1;
  }
  .gallery-activity .image-grid {
    display: flex;
    height: 60vh;
    flex-wrap: nowrap;
    padding-inline: 32px;
    grid-column: 4/13;
    grid-row: 1/5;
  }
  .gallery-activity .image-grid .legend {
    display: none;
  }
  .gallery-activity .image-card {
    overflow: hidden;
    border-radius: 16px;
    opacity: 0.5;
  }
  .gallery-activity .image-card img {
    width: 100%;
    height: 100%;
    object-position: 50% 30%;
  }
  .gallery-activity .image-container.active .image-card {
    flex: 3;
    opacity: 1;
  }
  .gallery-activity .image-container.active {
    flex: 3;
  }
  .gallery-activity .picture-legend {
    display: block;
    grid-column: 2/4;
    grid-row: 2/5;
    align-self: center;
    position: relative;
  }
  .gallery-activity .picture-legend .legend {
    position: absolute;
    scale: 0;
    font-size: 1.75em;
    transform: translateY(-50%);
  }
  .gallery-activity .picture-legend .legend.active {
    transition: scale 1s ease;
    scale: 1;
  }
  .gallery-activity .tab {
    display: block;
    grid-column: 1/13;
    grid-row: 5;
    text-align: center;
    position: relative;
    width: fit-content;
    margin: auto;
  }
  .gallery-activity .tab button {
    font-weight: 600;
    font-family: "Bree", sans-serif;
    font-size: 1.75em;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    border: none;
    color: #ffffff;
    background-color: transparent;
    padding-inline: 32px;
    margin-bottom: 8px;
    padding-top: 8px;
  }
  .gallery-activity .tab button.active ~ .tab-line {
    opacity: 1;
  }
  .gallery-activity .tab button:nth-child(1).active ~ .tab-line {
    left: 0;
  }
  .gallery-activity .tab button:nth-child(2).active ~ .tab-line {
    left: 33%;
  }
  .gallery-activity .tab button:nth-child(3).active ~ .tab-line {
    left: 66%;
  }
  .gallery-activity .tab .tab-line {
    position: absolute;
    content: "";
    width: 33%;
    height: 5px;
    left: 0%;
    bottom: 5%;
    background-color: #117695;
    opacity: 0;
    transition: left 1s ease;
  }
  .infos .intro-container {
    flex-direction: row;
  }
  .infos .intro-illustration {
    width: 50%;
    object-fit: contain;
  }
  .infos .article-container {
    margin-block: 64px;
    margin-left: 32px;
  }
  .infos h4 {
    font-size: 1.75em;
    padding-left: 16px;
  }
  .infos .image-center-layout-container {
    margin-bottom: 64px;
    background: none;
    height: fit-content;
    perspective: 1000px;
  }
  .infos .image-center-layout-container .parent {
    position: relative;
    margin-block: 0;
  }
  .infos .image-center-layout-container img {
    display: block;
    z-index: -1;
    opacity: 1;
    width: 40%;
    position: absolute;
    left: 70%;
    top: 40%;
    max-width: 400px;
    transform-style: preserve-3d;
    transform: translate(-50%, -50%) rotateY(-30deg);
    box-shadow: 4px 4px 4px 2px #a3acb0;
    z-index: 1;
  }
  .infos .image-center-layout-container .intro {
    margin-block: 0;
    padding: 32px;
    margin-inline-start: 12.8px;
    font-size: 1em;
    font-weight: 600;
    width: 55%;
  }
  .infos .image-center-layout-container .children {
    z-index: -1;
    padding-left: 64px;
    margin-block: 16px;
  }
  .infos .image-center-layout-container .children h5 {
    font-size: 1.31em;
    text-align: start;
  }
  .cta-contact {
    margin: 64px;
    grid-row: 3;
    grid-column: 1/6;
  }
  .cta-contact p {
    font-size: 1.75em;
    font-family: bree;
    text-align: center;
    margin: 8px;
  }
  .card-grid-layout-container {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .gallery-animals .gallery-animals-container {
    margin-top: 64px;
  }
  .drop-down-article-container h4:after {
    width: 2rem;
    border-top: 8px solid #117695;
    border-left: 8px solid #117695;
    left: 80%;
  }
  .contact {
    margin-inline: 64px;
  }
  .contact .contact-content {
    display: flex;
    gap: 64px;
  }
  .contact .form-container {
    flex: 2;
  }
  .contact .sticker-container {
    flex: 1;
  }
  .footer {
    overflow-x: hidden;
    padding: 32px;
  }
  .footer .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .footer .site-map ul {
    flex-direction: column;
    text-align: center;
  }
  .footer .site-map ul li {
    padding-block: 8px;
  }
  .footer .site-map ul li::after {
    width: 10%;
    height: 3px;
    left: 50%;
    bottom: -5px;
  }
  .footer .sticker-container {
    flex: 1;
    transform: rotate(10deg);
    margin: 0;
  }
  .footer .brand {
    flex: 1;
  }
  .footer .site-map {
    flex: 2;
  }
  .footer .site-map h5 {
    font-size: 1.75em;
  }
  .footer .bottom {
    display: grid;
    align-items: baseline;
    margin: 32px;
    grid-template-columns: repeat(7, 1fr);
  }
  .footer .bottom ul:first-child {
    grid-column: 1/3;
    grid-row: 1;
  }
  .footer .bottom ul:nth-child(2) {
    grid-column: 3/6;
    justify-content: center;
    gap: 32px;
    text-transform: uppercase;
  }
  .footer .bottom p:nth-of-type(1) {
    grid-column: 6/8;
  }
  .footer .bottom p:last-child {
    grid-row: 2;
    grid-column: 1/8;
  }
}
