/* Coolors Exported Palette - https://coolors.co/88aab4-f5dabf-ac80a0-2e282a-2d2d2a */

/* CSS HEX */
--cadet-gray: #88aab4ff;
--light-orange: #f5dabfff;
--mountbatten-pink: #ac80a0ff;
--raisin-black: #2e282aff;
--jet: #2d2d2aff;

/* CSS HSL */
--cadet-gray: hsla(194, 23%, 62%, 1);
--light-orange: hsla(30, 73%, 85%, 1);
--mountbatten-pink: hsla(316, 21%, 59%, 1);
--raisin-black: hsla(340, 7%, 17%, 1);
--jet: hsla(60, 3%, 17%, 1);

/* SCSS HEX */
$cadet-gray: #88aab4ff;
$light-orange: #f5dabfff;
$mountbatten-pink: #ac80a0ff;
$raisin-black: #2e282aff;
$jet: #2d2d2aff;

/* SCSS HSL */
$cadet-gray: hsla(194, 23%, 62%, 1);
$light-orange: hsla(30, 73%, 85%, 1);
$mountbatten-pink: hsla(316, 21%, 59%, 1);
$raisin-black: hsla(340, 7%, 17%, 1);
$jet: hsla(60, 3%, 17%, 1);

/* SCSS RGB */
$cadet-gray: rgba(136, 170, 180, 1);
$light-orange: rgba(245, 218, 191, 1);
$mountbatten-pink: rgba(172, 128, 160, 1);
$raisin-black: rgba(46, 40, 42, 1);
$jet: rgba(45, 45, 42, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #88aab4ff, #f5dabfff, #ac80a0ff, #2e282aff, #2d2d2aff);
$gradient-right: linear-gradient(90deg, #88aab4ff, #f5dabfff, #ac80a0ff, #2e282aff, #2d2d2aff);
$gradient-bottom: linear-gradient(180deg, #88aab4ff, #f5dabfff, #ac80a0ff, #2e282aff, #2d2d2aff);
$gradient-left: linear-gradient(270deg, #88aab4ff, #f5dabfff, #ac80a0ff, #2e282aff, #2d2d2aff);
$gradient-top-right: linear-gradient(45deg, #88aab4ff, #f5dabfff, #ac80a0ff, #2e282aff, #2d2d2aff);
$gradient-bottom-right: linear-gradient(135deg, #88aab4ff, #f5dabfff, #ac80a0ff, #2e282aff, #2d2d2aff);
$gradient-top-left: linear-gradient(225deg, #88aab4ff, #f5dabfff, #ac80a0ff, #2e282aff, #2d2d2aff);
$gradient-bottom-left: linear-gradient(315deg, #88aab4ff, #f5dabfff, #ac80a0ff, #2e282aff, #2d2d2aff);
$gradient-radial: radial-gradient(#88aab4ff, #f5dabfff, #ac80a0ff, #2e282aff, #2d2d2aff);