/* Coolors Exported Palette - https://coolors.co/88aab4-f5dabf-845a6d-0f212e-30323d */

/* CSS HEX */
--cadet-gray: #88aab4ff;
--light-orange: #f5dabfff;
--chinese-violet: #845a6dff;
--rich-black: #0f212eff;
--jet: #30323dff;

/* CSS HSL */
--cadet-gray: hsla(194, 23%, 62%, 1);
--light-orange: hsla(30, 73%, 85%, 1);
--chinese-violet: hsla(333, 19%, 44%, 1);
--rich-black: hsla(205, 51%, 12%, 1);
--jet: hsla(231, 12%, 21%, 1);

/* SCSS HEX */
$cadet-gray: #88aab4ff;
$light-orange: #f5dabfff;
$chinese-violet: #845a6dff;
$rich-black: #0f212eff;
$jet: #30323dff;

/* SCSS HSL */
$cadet-gray: hsla(194, 23%, 62%, 1);
$light-orange: hsla(30, 73%, 85%, 1);
$chinese-violet: hsla(333, 19%, 44%, 1);
$rich-black: hsla(205, 51%, 12%, 1);
$jet: hsla(231, 12%, 21%, 1);

/* SCSS RGB */
$cadet-gray: rgba(136, 170, 180, 1);
$light-orange: rgba(245, 218, 191, 1);
$chinese-violet: rgba(132, 90, 109, 1);
$rich-black: rgba(15, 33, 46, 1);
$jet: rgba(48, 50, 61, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #88aab4ff, #f5dabfff, #845a6dff, #0f212eff, #30323dff);
$gradient-right: linear-gradient(90deg, #88aab4ff, #f5dabfff, #845a6dff, #0f212eff, #30323dff);
$gradient-bottom: linear-gradient(180deg, #88aab4ff, #f5dabfff, #845a6dff, #0f212eff, #30323dff);
$gradient-left: linear-gradient(270deg, #88aab4ff, #f5dabfff, #845a6dff, #0f212eff, #30323dff);
$gradient-top-right: linear-gradient(45deg, #88aab4ff, #f5dabfff, #845a6dff, #0f212eff, #30323dff);
$gradient-bottom-right: linear-gradient(135deg, #88aab4ff, #f5dabfff, #845a6dff, #0f212eff, #30323dff);
$gradient-top-left: linear-gradient(225deg, #88aab4ff, #f5dabfff, #845a6dff, #0f212eff, #30323dff);
$gradient-bottom-left: linear-gradient(315deg, #88aab4ff, #f5dabfff, #845a6dff, #0f212eff, #30323dff);
$gradient-radial: radial-gradient(#88aab4ff, #f5dabfff, #845a6dff, #0f212eff, #30323dff);